html {
    font-family: Kumbh Sans;
    height: 100%;
    background-image: url('./images/bg-pattern-bottom.svg');
}

body {
    min-height: 100%;
}

section {
    background-color: white;
    height: 373px;
    width: 336px;
    border-radius: 15px;
    position: absolute;
    top: 19%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    }


.user-profile {
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center;
    background-size: contain;
}

.user-container {
    margin: auto;
}

.network_information {
    border-top: 1.5px solid rgb(231, 231, 231);
    display: flex;
    justify-content: center;
}

.network_information div {
    text-align: center;
    margin: 10px 15px 10px 15px;
}

.number {
    font-size: 18px;
    font-weight: bolder;
    color: hsl(229, 23%, 23%);
    margin-bottom: 50%;
    margin-bottom: -11%;
}

.word {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
    font-weight: lighter;
}

div .user-img {
    border-radius: 50%;
    height: 100px;
    width: auto;
    border: 4px solid white;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }